/*Start My Framework*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
section{
	padding: 100px;
}
.heading{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: #111;
}
.heading h2{
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 30px;
}
.btn{
	position: relative;
	background: #2196f3;
	display: inline-block;
	color: #FFF;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	cursor: pointer;
	border: 1px solid #2196f3;
	outline: 0;
}
.btn:hover{
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.hidden{
	display: none;
}
/*End My Framework*/

/*Start Banner*/
.banner{
	position: relative;
	min-height: 100vh;
	background: url('../img/banner.jpg');
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner h2{
	font-size: 3em;
	color: #FFF;
	font-weight: 500;
	line-height: 1.5em;
}
.banner h2 span{
	font-size: 1.5em;
	font-weight: 700;
}
.banner h3{
	font-size: 1.5em;
	color: #FFF;
	font-weight: 500;
}
/*End Banner*/

/*Start NavBar*/
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .5s;
}
header.sticky{
	background: #FFF;
	padding: 20px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo{
	color: #FFF;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	outline: 0;
}
header.sticky .logo{
	color: #111;
}
header ul{
	position: relative;
	display: flex;
}
header ul li{
	position: relative;
	list-style: none;
}
header ul li a{
	position: relative;
	display: inline-block;
	margin: 0 15px;
	color: #FFF;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
header.sticky ul li a{
	color: #111;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
header ul li a:hover,
header ul li.activeColor a,
header.sticky ul li a:hover,
header.sticky ul li.activeColor a{
	color: #2196f3;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
/*End NavBar*/

/*Start About*/
.about .heading h2{
	margin-bottom: 40px;
}
.content{
	display: flex;
	justify-content: space-between;
}
.content .contentBx{
	padding-right: 30px;
}
.content .contentBx h3{
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
}
.content .contentBx p{
	line-height: 1.5;
	text-align: center;
}
.about .content .contentBx #more{
	display: none;
}
#readMoreBtn{
	margin-top: 20px;
}
.w50{
	min-width: 50%;
}
.w50 img{
	max-width: 100%;
}
.downloadCv{
	margin-top: 60px;
}
/*End About*/

/*Start Services*/
.services{
	background: #111;
}
.heading.white{
	color: #FFF;
}
.services .content{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}
.services .content .servicesBx{
	padding: 40px 20px;
	background: #222;
	color: #FFF;
	max-width: 340px;
	margin: 20px;
	text-align: center;
	transition: .5s;
}
.services .content .servicesBx:hover{
	background: #2196f3;
}
.services .content .servicesBx img{
	max-width: 80px;
	filter: invert(1);
}
.services .content .servicesBx h2{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
	margin-top: 7px;
}
.services .content .servicesBx p{
	line-height: 1.5;
}
/*End Services*/

/*Start Work*/
.work .content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.work .content .workBx{
	width: 48%;
	margin-right: 2%;
	margin-bottom: 30px;
}
.work .content .workBx img{
	max-width: 100%;
	cursor: pointer;
	box-shadow: 0 0 5px #2196f3, 0 0 10px #2196f3;
}
.work .content .workBx.poppa{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 1000;
}
.work .content .workBx.poppa img{
	position: absolute;
	top: 60px;
	left: 20%;
	right: 20px;
	bottom: 20px;
	width: calc(60% - 40px);
	height: calc(100% - 70px);
}
.work .content .workBx h2{
	opacity: 0;
	visibility: hidden;
}
.work .content .workBx.poppa h2{
	opacity: 1;
	visibility: visible;
	text-align: center;
	color: #FFF;
	background-color: #2196f3;
	border: 2px solid #2196f3;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 4px;
	margin-top: 15px;
}
.work .workBx .pro-content{
	position: absolute;
	left: 20%;
	right: 20px;
	bottom: 10px;
	opacity: 0;
	visibility: hidden;
	background: rgba(0,0,0,0.8);
	padding: 20px;
	color: #FFF;
	transform: translateY(100%);
	width: calc(60% - 40px);
}
.work .workBx .pro-content h3{
	margin-bottom: 15px;
}
.work .content .workBx.poppa .pro-content{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: .5s;
}
.work .content .workBx .closePop {
    font-size: 3.5em;
    cursor: pointer;
    position: absolute;
    right: 25%;
    top: 62px;
    color: #FFF;
    transition: .5s;
    opacity: 0;
	visibility: hidden;
	outline: 0;
}
.work .content .workBx.poppa .closePop{
	opacity: 1;
	visibility: visible;
}
.work .content .workBx .closePop:hover{
	color: #2196f3;
	transition: .5s;
}
/*End Work*/

/*Start Testimonials*/
.testim{
	background: #f7f7f7;
}
.testim .content{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.testim .content .testimBx{
	width: 100%;
	padding: 30px 20px;
	margin: 20px;
	background: rgba(33,150,243,0.9);
	position: relative;
}
/*.cardboxshadow{
	box-shadow: 0 0 10px #2196f3, 0 0 10px #2196f3;
}*/
.testim .content .testimBx img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-bottom: 30px;
	margin-left: 44%;
	box-shadow: 0 0 5px #CCC, 0 0 15px #CCC;
}
.testim .content .testimBx p{
	color: #FFF;
	font-size: 17px;
	font-style: italic;
	font-weight: 300;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 2px;
	margin-top: 7%;
}
.testim .content .testimBx h3{
	margin-top: 10%;
	text-align: end;
	color: #FFF;
	font-weight: 600;
	font-size: 20px;
	line-height: 1em;
}
.testim .content .testimBx h3 span{
	font-size: 14px;
	font-weight: 400;
}
.testim .content > div{
	display: none;
}
.testim .content > div.slidactivate{
	display: block;
}
/*End Testimonials*/

/*Start Contact*/
.contact{
	background: #111;
}
.contact .formBx{
	min-width: 60%;
}
.formBx form{
	display: flex;
	flex-direction: column;
	position: relative;
}
.formBx form h3,
.contactInfo h3{
	color: #FFF;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}
.formBx form h3{
	margin-bottom: 15px;
}
.formBx form input,
.formBx form textarea{
	margin-bottom: 20px;
	padding: 15px;
	font-size: 16px;
	border: none;
	outline: none;
	background: #222;
	color: #FFF;
	resize: none;
}
.formBx form input[type="email"]{
	padding-right: 50px;
}
.formBx form .indicator{
	position: absolute;
	top: 125px;
	right: 20px;
	width: 10px;
	height: 10px;
	background-color: #555;
	border-radius: 50%;
}
form.valid .indicator{
	background-color: #0f0;
	box-shadow: 0 0 5px #0f0,
				0 0 10px #0f0,
				0 0 20px #0f0,
				0 0 40px #0f0;
}
form.invalid .indicator{
	background-color: #f00;
	box-shadow: 0 0 5px #f00,
				0 0 10px #f00,
				0 0 20px #f00,
				0 0 40px #f00;
}
.formBx form textarea{
	min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder{
	color: #999;
}
.formBx form input[type="submit"]{
	max-width: 100px;
	background: #2196f3;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.formBx form input[type="submit"]:hover{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	box-shadow: 0 0 5px #2196f3, 0 0 20px #2196f3, 0 0 40px #2196f3;
}
.contactInfo{
	min-width: 40%;
}
.contactInfoBx{
	position: relative;
}
.contactInfoBx .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.contactInfoBx .box .icon{
	min-width: 40px;
	padding-top: 4px;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 24px;
}
.contactInfoBx .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #FFF;
	flex-direction: column;
	font-weight: 300;
}
.contactInfoBx .box .text p{
	font-size: 13px; 
}
.contactInfoBx .box .text h3{
	font-weight: 500;
	color: #2196f3;
}
.contactInfoBx .box .socialtext{
	display: inline-block;
}
.contactInfoBx .box .socialtext .socialContact{
	margin-left: 10px;
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	color: #FFF;
}
.contactInfoBx .box .socialtext .fa-facebook{
	margin-left: 0;
}
.contactInfoBx .box .socialtext .socialContact:hover{
	color: #2196f3;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	font-size: 35px;
}

/*End Contact*/

/*Start Footer*/
.copyright{
	background: #000;
	color: #FFF;
	padding: 10px;
	text-align: center;
}
/*End Footer*/

/*Start Buttons*/
.dark-light {
    padding: 7px;
    width: 45px;
    height: 45px;
    background: #111;
    color: #2196f3;
    border-radius: 3px;
    position: fixed;
    bottom: 50%;
    right: -3px;
    cursor: pointer;
    line-height: 33px;
    text-align: center;
    z-index: 102;
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
.stopShadow{
	box-shadow: none;
}
.changeColor{
	color: #FFF;
}
.changeBack{
	background-color: #000;
}

#toTop {
    padding: 7px;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    line-height: 33px;
    text-align: center;
    z-index: 102;
    background: #2196f3;
	color: #FFF;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: .5;
}
#toTop:hover{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: 1;
}
/*End Buttons*/

/*Start Working on Responsive*/
@media (max-width: 991px){
	header,
	header.sticky{
		padding: 20px 50px;
		z-index: 1000;
		color: #000;
	}
	.menu{
		position: fixed;
		top: 75px;
		left: -100%;
		display: block;
		padding: 100px 50px;
		text-align: center;
		width: 100%;
		height: 100vh;
		background: #FFF;
		transition: 0.5s;
		z-index: 999;
		border-top: 1px solid rgba(0,0,0,0.2);
	}
	.menu.active{
		left: 0;
	}
	header ul li a{
		color: #111;
		font-size: 24px;
		margin: 10px;
	}
	.toggle{
		width: 40px;
		height: 40px;
		background: url(../img/menu.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		cursor: pointer;
	}
	.toggle.active{
		background: url(../img/close.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 25px;
		cursor: pointer;
	}
	header.sticky .toggle{
		filter: invert(1);
	}
	section{
		padding: 100px 50px;
	}
	.banner{
		padding: 150px 50px 100px;
	}
	.banner h2{
		font-size: 1.5em;
	}
	.banner h3{
		font-size: 1em;
	}
	.btn{
		margin-top: 15px;
		padding: 10px 20px;
		font-size: 16px;
	}
	.heading h2{
		font-size: 24px;
	}
	.contentBx h3{
		font-size: 20px;
		text-align: center;
	}
	.contentBx p{
		text-align: center;
	}
	.content{
		flex-direction: column;
		align-items: center;
	}
	.w50{
		margin-bottom: 20px;
	}
	.services .content .servicesBx{
		margin: 10px;
	}
	.work .content .workBx{
		width: 100%;
		/*padding: 10px;*/
	}
	.work .content .workBx.poppa img{
		top: 60px;
		left: 20px;
		width: calc(100% - 40px);
	}
	.work .workBx .pro-content{
		left: 20px;
		width: calc(100% - 40px);
	}
	.work .content .workBx .closePop{
		right: 30px;
	}
	.work .content .workBx .closePop{
		right: 30px;
	}
	.testim .content .testimBx{
		padding: 30px 30px;
		margin: 0px;
		min-height: 350px;
	}
	.testim .content .testimBx h3{
		margin-top: 11%;
		font-size: 18px;
		line-height: 1.5;
	}
	.testim .content .testimBx h3 span{
		font-size: 14px;
		font-weight: 400;
	}
	.testim .content .testimBx p{
		font-size: 14px;
		margin-top: 8%;
	}
	.testim .content .testimBx img{
		width: 90px;
		height: 90px;
		border-radius: 50%;
		margin-bottom: 30px;
		margin-left: 44%;
}
	.contactInfo{
		margin: 20px 0;
	}
}
@media(max-width: 600px){
	header,
	header.sticky{
		padding: 20px 20px;
	}
	.banner{
		padding: 150px 20px 100px;
	}
	section{
		padding: 100px 20px;
	}
	.testim .content .testimBx img{
		margin-left: 39%;
	}
	.testim .content .testimBx h3{
		margin-top: 12%;
		font-size: 18px;
		line-height: 1.5;
		/*margin-top: 50px;*/
		text-align: center;
	}
	.testim .content .testimBx p{
		font-size: 14px;
		margin-top: 9%;
	}
}
@media(max-width: 400px){
	.testim .content .testimBx img{
		margin-left:38%;
		margin-top: 20px;
		width: 70px;
		height: 70px;
	}
	.testim .content .testimBx h3{
		font-size: 13px;
		line-height: 1.5;
		text-align: center;
	}
	.testim .content .testimBx h3 span{
		font-size: 11px;
	}
	.testim .content .testimBx p{
		font-size: 12px;
		text-align: center;
		letter-spacing: 0;
	}
	.testim .content .testimBx{
		padding: 5px;
	}
}
/*End Working on Responsive
